//fonts
.standart-fat {
  color: $standartWhite;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

//containers
.layoutContainer {
  background-color: $backgroundStandart;
}

.blueContainer {
  background-color: $backgroundBlueContainer;
}
