//box sizes
$inputFieldDefault: 18px;
$progressItemSize: 21px;
$space12px: 12px;
$space20px: 20px;

//paddings && margins
$zeroDefault: 0;

//fonts
$fontDefault: 14px;

//colors
$standartWhite: #fff;

//quasar colors
$backgroundStandart: #cfd8dc;
$backgroundBlueContainer: #607d8b;

//sizes
$tabletMedia: 768px;
$macMedia: 1080px;
$desktopMedia: 1980px;
